:root{
    /* definindo variaveis globais */
    --primary-color:   #EB0029;
    --secundary-color: #f2c94c;
}

header{
    display: flex;

    align-items: center;
    
}
.menu{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: end;
   
    justify-content: space-between;
    

    background-color: aqua;
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;

    opacity: 0;
}

.conjunto:hover .pingo{
    opacity: 1;
}