:root{
    /* definindo variaveis globais */
    --primary-color:   #EB0029;
    --secundary-color: #f2c94c;
}

header{
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-left: 92px;
    gap: 150px;
}
.menu{
    width: 423px;
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;    
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: var(--primary-color); /* Muda a cor do link no hover */
  }


  main{

    background-color: blue;
  }