:root{
    /* definindo variaveis globais */
    --primary-color:   #EB0029;
    --secundary-color: #f2c94c;
}

header{

    display: flex;
    gap:  20px;
}
.menu{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

}
.pingo{
    display: none;
    display: flex;
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;


    opacity: 0;
    visibility: hidden;

}

.conjunto:hover .pingo{
    opacity: 1;
    visibility: visible;
    display: flex;
}