:root{
    /* definindo variaveis globais */
    --primary-color:   #EB0029;
    --secundary-color: #f2c94c;
}

header{
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-left: 92px;
    gap: 150px;
}
.menu{
    width: 423px;
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;    
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: var(--primary-color); /* Muda a cor do link no hover */
  }


  main{
    margin-top: 100px;
    margin-left: 92px;
    display: flex;

  }
  .descri{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 67px;
  }
  p{
    font-size: 48;
  }

  .btns{
    display: flex;

  }
  .red{
    color: #EB0029;
  }
  .txt{
    margin-top: 80px;
  }

  .btnvermelho{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    width: 186px;
    height: 68px;
    border-radius: 40px ;
    color: aliceblue;
    background-color: #EB0029

  }

  .btnamarelo{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    
    height: 68px;
    border-radius: 40px ;

  }



  footer{
    display: flex;
    margin-top: 20px;
    margin-left: 92px;
    
  }
  .avalia{
    display: flex;
    align-items: center;    /* Centraliza verticalmente */
  }

  .fts{
    display: flex;
  }
  .a{
    background-color: #EB0029;
    width: 40px;
    height: 40px;
    border-radius: 40px ;

  }

  .avaliacao{
    width: 150px;
    height: 90px;
    border-radius: 40px ;
    background-color: #f2c94c;
  }
  .ftcomi{
    background-color: aqua;
    width: 70px;
    height: 60px;
    border-radius: 40px ;
  }